<div class="modal-header">
    <h5 class="modal-title red-color fw-bold" id="exampleModalLabel">Mentions légales</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
</div>
<div class="modal-body m-2">
  <div class="para">
    <span>Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet <a target="_blank" href="https://moissbatt.github.io/valentine-portfolio/">https://moissbatt.github.io/valentine-portfolio/</a> sont :</span>
  </div>

  <div class="para">
    <h5 class="red-color fw-bold">Éditrice & développeuse du site :</h5>
    <span>Valentine Bouché</span><br>
    <span>Email : valentine.bouche.stjo@gmail.com</span><br>
  </div>

  <div class="para">
    <h5 class="red-color fw-bold">Hébergeur :</h5>
    <span>GitHub</span><br>
    <span>San Francisco, Californie, États-Unis</span><br>
    <span>Site Web : github.com</span>
  </div>

  <div class="para">
    <h5 class="red-color fw-bold">Conditions d’utilisation :</h5>
    <span>Ce site (<a target="_blank" href="https://moissbatt.github.io/valentine-portfolio/">https://moissbatt.github.io/valentine-portfolio/</a>) est proposé en différents langages web (HTML5, Javascript, CSS, etc…) pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Firefox, Google Chrome, Safari...</span>
  </div>

  <div class="para">
    <h5 class="red-color fw-bold">Services fournis :</h5>
    <span>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.
        Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Valentine Bouché.</span>
  </div>

  <div class="para">
    <h5 class="red-color fw-bold">Propriété intellectuelle :</h5>
    <span>Tout le contenu du présent sur le site <a target="_blank" href="https://moissbatt.github.io/valentine-portfolio/">https://moissbatt.github.io/valentine-portfolio/</a>, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la Bouché Valentine à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</span><br><br>
    <span>Icônes faites par <a target="_blank" href="https://www.flaticon.com/authors/freepik">Freepik</a>, <a target="_blank" href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a>,
       <a target="_blank" href="https://www.flaticon.com/authors/those-icons">Those Icons</a> de <a target="_blank" href="https://www.flaticon.com/">flaticon.com.</a></span><br>
    <span>Photographie de fond prise par <a target="_blank" href="https://arthuramnellart.wordpress.com/1000-visages/">Arthur Amnell Art</a>.</span><br>
    <span>Logo principal créé par <a target="_blank" href="https://raijo.co/">Raijo</a>.</span><br><br>
    <span>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Valentine Bouché. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.</span>
  </div>
      
  <div class="para">
    <h5 class="red-color fw-bold">Données personnelles :</h5>
    <span>Vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez le site Internet  <a target="_blank" href="https://moissbatt.github.io/valentine-portfolio/">https://moissbatt.github.io/valentine-portfolio/</a>.</span>
  </div>
</div>