<h4 class="red-color fw-bold text-center">Formations</h4>
<div class="d-flex formation">
    <div class="card mx-2 my-3">
        <img
            src="assets/logos/logo_lycee.webp"
            class="card-img-top"
            alt="Lycée"
        />
        <div class="card-body">
        <h5 class="card-title text-center red-color fw-bold">BAC</h5>
        <p class="card-text"><span class="font-italic">Lycée Saint-Joseph, Épinal - </span><span class="fw-bold">2016</span></p>
            <ul>
                <li>Bac Scientifique</li>
                <li>Mention Européenne Allemand</li>
                <li>Immersion de 6 mois en Allemagne, programme Voltaire de l'OFAJ</li>
            </ul>
        </div>
    </div>

    <div class="card mx-2 my-3">
        <img
            src="assets/logos/logo_licence.webp"
            class="card-img-top"
            alt="Licence"
        />
        <div class="card-body">
            <h5 class="card-title text-center red-color fw-bold">LICENCE</h5>
            <p class="card-text"><span class="font-italic">IDMC, Nancy - </span><span class="fw-bold">2020</span></p>
            <ul>
                <li>MIASHS Parcours MIAGE</li>
                <li>Major de promotion</li>
                <li>Erasmus de 6 mois en Allemagne, à la DHBW de Stuttgart</li>
                <li>Stage de fin de licence chez Pharmagest Interactive</li>
            </ul>
        </div>
    </div>

    <div class="card mx-2 my-3">
        <img
            src="assets/logos/logo_master.webp"
            class="card-img-top"
            alt="Master"
        />
        <div class="card-body">
        <h5 class="card-title text-center red-color fw-bold">MASTER</h5>
            <p class="card-text"><span class="font-italic">IDMC, Nancy - </span><span class="fw-bold">2022</span></p>
            <ul>
                <li>MIAGE Parcours ACSI, Audit et Conception des Systèmes d'Information</li>
                <li>Major de M1</li>
                <li>Stage de fin d'études chez Capgémini Engineering</li>
            </ul>
        </div>
    </div>
</div>

<div class="d-flex diplomes">
    <div class="card mx-auto my-3 diplomes">
        <img
            src="assets/logos/logo_permis.webp"
            style="width: 45px; height: 45px"
            class="card-img-top mx-auto mb-1"
            alt="Permis"
        />
        <h5 class="card-title text-center red-color fw-bold no-margin">Permis B</h5>
        <p class="fw-bold text-center no-margin">2017</p>
    </div>
    <div class="card mx-auto my-3 diplomes">
        <img
            src="assets/logos/logo_bafa.webp"
            style="width: 45px; height: 45px"
            class="card-img-top mx-auto mb-1"
            alt="BAFA"
        />
        <h5 class="card-title text-center red-color fw-bold no-margin">BAFA</h5>
        <p class="fw-bold text-center no-margin">2018</p>
    </div>
    <div class="card mx-auto my-3 diplomes">
        <img
            src="assets/logos/logo_psc1.webp"
            style="width: 45px; height: 45px"
            class="card-img-top mx-auto mb-1"
            alt="PSC1"
        />
        <h5 class="card-title text-center red-color fw-bold no-margin">PSC1</h5>
        <p class="fw-bold text-center no-margin">2018</p>
    </div>
    <div class="card mx-auto my-3 diplomes">
        <img
            src="assets/logos/logo_toeic.webp"
            style="width: 45px; height: 45px"
            class="card-img-top mx-auto mb-1"
            alt="TOEIC"
        />
        <h5 class="card-title text-center red-color fw-bold no-margin">TOEIC</h5>
        <p class="fw-bold text-center no-margin">2021</p>
    </div>
    <div class="card mx-auto my-3 diplomes">
        <img
            src="assets/logos/logo_bafd.webp"
            style="width: 45px; height: 45px"
            class="card-img-top mx-auto mb-1"
            alt="BAFD"
        />
        <h5 class="card-title text-center red-color fw-bold no-margin">BAFD</h5>
        <p class="fw-bold text-center no-margin">En cours</p>
    </div>

</div>
