<h4 class="red-color fw-bold text-center">Compétences</h4>


<div class="row mx-2 my-4 test">
    <div class="card col-xl-4 col-12">
        <h5 class="card-title text-center red-color fw-bold mt-3 mb-0">Back-end</h5>
        <div class="card-body d-flex p-1">
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_java.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Java"
                />
                <h6 class="card-title text-center red-color fw-bold no-margin">Java</h6>
            </div>
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_python.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Python"
                />
                <h6 class="card-title text-center red-color no-margin">Python</h6>
            </div>
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_c.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="C"
                />
                <h6 class="card-title text-center red-color no-margin">C</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-12 align-self-center text-center mt-3">
        <span>
            Dans le domaine de la programmation, je préfère le côté fonctionnel et conception d'application. J'ai une affinité particulière pour <span class="red-color fw-bold">les langages orientés objet.</span> 
            Lors de mes études, j'ai eu l'occasion de découvrir ces trois langages de programmation, en particulier le <span class="red-color fw-bold">Java</span> dans lequel j'ai réalisé beaucoup de projets.
        </span>
    </div>
</div>
<div class="row mx-2 my-4">
    <div class="col-xl-8 col-12 align-self-center text-center mt-3 first">
        <span>J'ai une petite expérience avec le front-end en  <span class="red-color fw-bold">Vue.js et en Angular </span>(comme ce site). Ce n'est pas mon domaine de prédilection mais je
            me donne les moyens de réussir quand je dois utiliser ces technologies.
        </span>
    </div>
    <div class="card col-xl-4 col-12 second">
        <h5 class="card-title text-center red-color fw-bold mt-3 mb-0">Front-end</h5>
        <div class="card-body d-flex p-1">
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_vue.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Vue"
                />
                <h6 class="card-title text-center red-color fw-bold no-margin">Vue</h6>
            </div>
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_ng.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Angular"
                />
                <h6 class="card-title text-center red-color no-margin">Angular</h6>
            </div>
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_php.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="PHP"
                />
                <h6 class="card-title text-center red-color no-margin">PHP</h6>
            </div>
        </div>
    </div>
</div>
<div class="row mx-2 my-4">
    <div class="card col-xl-4 col-12">
        <h5 class="card-title text-center red-color fw-bold mt-3 mb-0">Bases de données</h5>
        <div class="card-body d-flex p-1">
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_pg.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="PG"
                />
                <h6 class="card-title text-center red-color fw-bold no-margin">PG</h6>
            </div>
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_sql.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="sql"
                />
                <h6 class="card-title text-center red-color no-margin">SQL</h6>
            </div>
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_mongo.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Mongo"
                />
                <h6 class="card-title text-center red-color no-margin">Mongo</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-12 align-self-center text-center mt-3">
        <span>Mes expériences étudiantes et professionnelles m'ont permis de beaucoup utiliser <span class="red-color fw-bold">Postgresql.</span> Je suis assez à l'aise en SQL également.</span>
    </div>
</div>
<div class="row mx-2 my-4">
    <div class="col-xl-5 col-12 align-self-center text-center mt-3 first">
        <span>Mon environnement de travail habituel est sur <span class="red-color fw-bold">Windows</span> avec principalement <span class="red-color fw-bold">IntelliJ</span> pour le développement. Je sais utiliser la majorité des services de la suite Office 
            et je sais utiliser <span class="red-color fw-bold">Git</span>. Enfin, je suis également à l'aise avec les outils de gestion de projet.
        </span>
    </div>
    <div class="card col-xl-7 col-12 second">
        <h5 class="card-title text-center red-color fw-bold my-4 mb-0">Environnement</h5>
        <div class="card-body d-flex p-1">
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_intellij.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="intellij"
                />
                <h6 class="card-title text-center red-color fw-bold no-margin">IntelliJ</h6>
            </div>
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_vsc.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="vsc"
                />
                <h6 class="card-title text-center red-color no-margin">VSC</h6>
            </div>
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_git.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="git"
                />
                <h6 class="card-title text-center red-color no-margin">Git</h6>
            </div>
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_win.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="windows"
                />
                <h6 class="card-title text-center red-color no-margin">Windows</h6>
            </div>
            <div class="card m-auto skill-card">
                <img
                    src="assets/logos/competences/logo_office.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="office"
                />
                <h6 class="card-title text-center red-color no-margin">Office</h6>
            </div>
        </div>
    </div>
</div>
<div class="row mx-2 my-4">
    <div class="card col-xl-4 col-12">
        <h5 class="card-title text-center red-color fw-bold mt-3 mb-0">Langues</h5>
        <div class="card-body d-flex p-1">
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_en.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Anglais"
                />
                <h5 class="card-title text-center red-color fw-bold no-margin">C1</h5>
            </div>
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_de.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Allemand"
                />
                <h5 class="card-title text-center red-color fw-bold no-margin">B2</h5>
            </div>
            <div class="card mx-auto my-3 skill-card">
                <img
                    src="assets/logos/competences/logo_fr.png"
                    style="width: 45px; height: 45px"
                    class="card-img-top mx-auto mb-1"
                    alt="Français"
                />
                <h5 class="card-title text-center red-color fw-bold no-margin">Mat</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-12 align-self-center text-center mt-3">
        <span>Les langues ont une place importante dans mes études, après <span class="red-color fw-bold">deux séjours d'un semestre en Allemagne</span> via le programme Voltaire en 2015 et Erasmus en 2019, ma passion pour l'allemand n'a fait que grandir.
            En ce qui concerne l'anglais, j'ai validé un score de <span class="red-color fw-bold">975/990 points au TOEIC</span> en 2021. Le français est ma langue maternelle.
        </span>
    </div>
</div>
<div class="row mx-2 my-4">
    <div class="col-xl-7 col-12 align-self-center text-center mt-3 first">
        <span>Par mes expériences scolaires et associatives, je peux affirmer que j'ai <span class="red-color fw-bold">l'esprit d'équipe</span> et je sais faire preuve de <span class="red-color fw-bold">leadership</span> quand les responsabilités m'y poussent au sein d'un groupe ou d'un projet.
        <span class="red-color fw-bold">Mon sens de l'organisation</span> est un atout pour gérer mes tâches professionnelles, associatives et ma vie personnelle. Je sais également faire preuve <span class="red-color fw-bold">d'autonomie</span> et je suis curieuse d'apprendre.
        </span>
    </div>
    <div class="card col-xl-5 col-12 second">
        <h5 class="card-title text-center red-color fw-bold mt-3 mb-0">Soft skills</h5>
        <div class="card-body d-flex p-1 card-body-responsive2">
            <div class="m-auto d-flex card-body-responsive">
                <div class="card m-auto skill-card">
                    <img
                        src="assets/logos/competences/logo_team.png"
                        style="width: 45px; height: 45px"
                        class="card-img-top mx-auto mb-1"
                        alt="Team"
                    />
                    <h6 class="card-title text-center red-color fw-bold no-margin">Esprit d'équipe</h6>
                </div>
                <div class="card m-auto skill-card">
                    <img
                        src="assets/logos/competences/logo_leader.png"
                        style="width: 45px; height: 45px"
                        class="card-img-top mx-auto mb-1"
                        alt="leader"
                    />
                    <h6 class="card-title text-center red-color no-margin">Team leading</h6>
                </div>
            </div>
            <div class="m-auto">
                <div class="card m-auto skill-card">
                    <img
                        src="assets/logos/competences/logo_orga.png"
                        style="width: 45px; height: 45px"
                        class="card-img-top mx-auto mb-1"
                        alt="orga"
                    />
                    <h6 class="card-title text-center red-color no-margin">Sens de l'organisation</h6>
                </div>
            </div>
        </div>
    </div>
</div>