.red-color{
    color: #C6554F;
}

.skill-card{
    background-color: transparent;
    box-shadow: none;
}

@media screen and (max-width: 1400px) {
    .card-body-responsive{
        flex-direction : row;
    }
    .card-body-responsive2{
        flex-direction : column;
    }
}

@media screen and (max-width: 1200px) {
    .card-body-responsive{
        flex-direction : row;
        gap: 30px !important;
    }
    .card-body-responsive2{
        flex-direction : row;
    }
    .first{
        order: 2;
    }
    .second{
        order: 1;
    }
}

.card-body-responsive{
    gap:10px;
}
