.card{
    background-color: #fff5f5;
    border-radius: 10px;
}

.category-card{
    width: 45%;
}

.margin-social-dev{
    margin-left: 15%;
    margin-right: 15%;
}

.margin-social-cos, .margin-social-dev{
    margin-bottom: 15px;
}

.card-text{
    text-align: justify;
}

.red-color{
    color: #C6554F;
}

.know-more-btn{
    background-color: bisque;
}

@media screen and (max-width: 1200px) {
    .dev-cos-overview{
        flex-direction: column;
    }
    .category-card{
        width: 90%;
    }
}

.btn-info {
    padding: 7px;
    background-color: #0082ca;
}

i{
    font-size: 1.25rem;
}

.cv-btn {
    font-size: 0.90rem;
}