<div #sectionDivProfile class="pt-1">
    <div class="card mx-3 my-3">
        <div class="card-body">
        <h5 class="card-title text-center red-color fw-bold">À PROPOS</h5>
            <p class="card-text">
                Je m'appelle <span class="red-color">Valentine</span> et j'ai {{age}} ans. J'ai créé ce site afin de rassembler au même endroit mes deux activités principales : 
                <span class="red-color">le développement informatique</span> et <span class="red-color">le cosplay.</span>
                Vous pourrez donc y retrouver tout ce qui concerne mon parcours professionnel dans l'informatique et une autre à propos de mes créations et de mon évolution dans le monde du cosplay.
            </p>
            <p class="card-text">
                Actuellement je suis étudiante en M2 MIAGE à l'<a class="red-color" target="_blank" href="https://idmc.univ-lorraine.fr/"><u>IDMC</u></a> et je suis en stage de fin d'études chez 
                <a class="red-color" target="_blank" href="https://capgemini-engineering.com/fr/fr/"><u>Capgemini Engineering</u></a>. Je suis également cosplayeuse depuis avril 2021 ce qui me permet de m'épanouir pleinement
                dans l'artisanat.
                Enfin, je suis très engagée en tant que bénévole chez les <a class="red-color" target="_blank" href="https://sgdf.fr/"><u>Scouts et Guides de France</u></a>, plus particulièrement dans le domaine de la formation des 
                responsables et cadres du mouvement.
            </p>

            <figure class="text-center">
                <blockquote class="blockquote">
                <p class="font-italic">
                    Le bonheur ne vient pas à ceux qui l'attendent assis.
                </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                Lord Robert BADEN-POWELL
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="d-flex dev-cos-overview">
        <div class="card mx-auto my-3 category-card">
            <img
                src="assets/home-page/dev-overview.jpg"
                class="card-img-top"
                alt="HTML code"
            />
            <div class="card-body">
            <h5 class="card-title text-center red-color fw-bold">DÉVELOPPEMENT</h5>
                <p class="card-text">
                    Formée dans le cursus <a class="red-color" target="_blank" href="http://www.miage.fr/"><u>MIAGE</u></a> de l'IDMC à Nancy, j'ai choisi
                    <a class="red-color" target="_blank" href="https://idmc.univ-lorraine.fr/courses/master-2-miage-acsi/"><u>le master ACSI</u></a> (Audit et Conception de Systèmes d'Information)
                    afin de me spécialiser dans la conception, la gestion de projet et le management d'équipe.
                </p>
                <p class="card-text">
                    J'ai une préférence pour le développement <span class="red-color">back-end</span>, en particulier pour le langage <span class="red-color">Java</span>, cependant
                    je me forme dans mon temps libre sur des technologies de <span class="red-color">front-end</span> tel que <span class="red-color">Angular 13</span> avec ce site web par exemple.
                </p>
            </div>
            <div class="card-footer">
                <div class="d-flex margin-social-dev">
                    <a class="btn btn-primary btn-floating m-auto" style="background-color: #0082ca;" target="_blank" href="https://www.linkedin.com/in/valentine-bouch%C3%A9-42089a127/" role="button">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="btn btn-primary btn-floating m-auto" style="background-color: #333333;" target="_blank" href="https://github.com/MoissBatt" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="m-auto" target="_blank" href="assets/resources/CV_Valentine_Bouché.pdf" download>
                        <button type="button" class="btn btn-info cv-btn"> <i class="fa-solid fa-download"></i> CV</button>
                    </a>
                </div>
                <div class="d-flex">
                    <button type="button" routerLink="/dev" (click)="clickOnSection('FORMATIONS')" [skipLocationChange]="true" class="btn btn-light btn-rounded mx-auto know-more-btn">En savoir plus</button>
                </div>
            </div>
        </div>

        <div class="card mx-auto my-3 category-card">
            <img
                src="assets/home-page/cosplay-overview.jpg"
                class="card-img-top"
                alt="Tyrande Cosplay"
            />
            <div class="card-body">
                <h5 class="card-title text-center red-color fw-bold">COSPLAY</h5>
                <p class="card-text">
                    Le cosplay est un loisir qui consiste à jouer le rôle d'un personnage de fiction en imitant son physique, son style vestimentaire et son comportement.
                    Je <span class="red-color">crée</span> donc costumes, armures et accessoires pour chaque projet.
                    Enfin je porte mes créations en <span class="red-color">convention</span>, à des <span class="red-color">concours</span> et des <span class="red-color">shootings photo</span>.
                    
                </p>
                <p class="card-text">
                    Je mets à jour mes réseaux sur l'avancement de mes projets, notamment sur Twitch, où je <span class="red-color">stream</span> le processus de création.
                </p>
            </div>
            <div class="card-footer">
                
                <div class="d-flex margin-social-cos">
                    
                    <a class="btn btn-primary btn-floating m-auto" style="background-color: #ac2bac;" target="_blank" href="https://www.instagram.com/moissbatt_cosplay/" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-primary btn-floating m-auto" style="background-color: #6441a5;" target="_blank" href="https://www.twitch.tv/moissbatt_cosplay" role="button">
                        <i class="fab fa-twitch"></i>
                    </a>
                    <a class="btn btn-primary btn-floating m-auto" style="background-color: #010101;" target="_blank" href="https://www.tiktok.com/@moissbatt_cosplay?lang=fr" role="button">
                        <i class="fab fa-tiktok"></i>
                    </a>
                    <a class="btn btn-primary btn-floating m-auto" style="background-color: #7289da;" target="_blank" href="https://discord.com/invite/3U5N9gvChy" role="button">
                        <i class="fab fa-discord"></i>
                    </a>
                </div>
                <div class="d-flex">
                    <button type="button" routerLink="/cosplay" (click)="clickOnSection('PRESENTATION')" [skipLocationChange]="true" class="btn btn-light btn-rounded mx-auto know-more-btn">En savoir plus</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card mx-3 my-3">
        <div class="card-body">
        <h5 class="card-title text-center red-color fw-bold">ME SOUTENIR</h5>
            <p class="card-text">
            Alors que je travaille à temps plein dans le domaine de l'informatique, le cosplay ne me rapporte que très peu. Il est donc possible de <span class="red-color">m'aider à financer</span> le matériel, les matériaux, 
            les prestations de photographes, et autres via le lien de don ci-dessous. Il est également possible de me soutenir en <span class="red-color">s'abonnant</span> via la plateforme Twitch.
            </p>
            <div class="d-flex">
                <a class="btn btn-primary m-auto" style="background-color: #cfb025;" href="https://streamlabs.com/moissbatt_cosplay/tip" role="button"
                    ><i class="fa-solid fa-hand-holding-heart"></i>
                </a>
            </div>
        </div>
    </div>
</div>