<div #sectionDivTarecgosa class="pt-1">
    <div class="m-2">
        <div class="d-flex navigation">
            <button type="button" (click)="clickOnSection('AURON')" routerLink="/cosplay/auron" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-arrow-left"></i> Auron</button>
            <button type="button" (click)="clickOnSection('PROJETS')" routerLink="/cosplay" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-bars"></i></button>
            <button type="button" (click)="clickOnSection('STEAMPUNK')" routerLink="/cosplay/steampunk" [skipLocationChange]="true" class="btn navigation-btn">Steampunk <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    
    <h3 class="red-color m-1 text-center">Tarecgosa (en cours)</h3>
    <h4 class="red-color m-2 text-center">World of Warcraft - Zach Fisher Art</h4>
    <div class="m-2 d-flex justify-content-center pres">
        <p class="presentation m-2">
            Mon projet actuel est très ambitieux ! Je suis de retour dans l'univers de World of Warcraft et c'est un plaisir de sortir des sentiers battus avec un design original de Zach Fisher Art.
            Cette version chevalier de la mort de cette grande dragonne me motive un maximum et je veux mettre en oeuvre tout ce que j'ai appris jusqu'à maintenant pour réaliser une petite folie !
            
            <br><br> C'est donc <span class="red-color">Tarecgosa</span> qui est la suivant sur ma liste des gros projets !
            
            <br><br> Il est possible de suivre mon avancement sur ce projet sur  
            <a style="color: #ac2bac;" target="_blank" href="https://www.instagram.com/moissbatt_cosplay/">instagram !</a>
        </p>
        <img class="refViewer m-2"  alt="Reference du cosplay" src="assets/cosplay/projets/Tarecgosa_ref.PNG">
    </div>

    <div class="m-2">
        <div class="d-flex navigation">
            <button type="button" (click)="clickOnSection('AURON')" routerLink="/cosplay/auron" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-arrow-left"></i> Auron</button>
            <button type="button" (click)="clickOnSection('PROJETS')" routerLink="/cosplay" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-bars"></i></button>
            <button type="button" (click)="clickOnSection('STEAMPUNK')" routerLink="/cosplay/steampunk" [skipLocationChange]="true" class="btn navigation-btn">Steampunk <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>