<div #sectionDivTalenji class="pt-1">
    <div class="m-2">
        <div class="d-flex navigation">
            <button type="button" (click)="clickOnSection('TARECGOSA')" routerLink="/cosplay/tarecgosa" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-arrow-left"></i> Tarecgosa</button>
            <button type="button" (click)="clickOnSection('PROJETS')" routerLink="/cosplay" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-bars"></i></button>
            <button type="button" (click)="clickOnSection('STEAMPUNK')" routerLink="/cosplay/steampunk" [skipLocationChange]="true" class="btn navigation-btn">Steampunk <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    
    <h3 class="red-color m-1 text-center">Secret (en cours)</h3>
    <h4 class="red-color m-2 text-center">World of Warcraft</h4>
    <div class="m-2 d-flex justify-content-center pres">
        <p class="presentation m-2">
            Gros projet en approche, mais chuuut c'est un secret !
            <br><br> Il est possible de suivre mon avancement sur ce projet sur  
            <a style="color: #ac2bac;" target="_blank" href="https://www.instagram.com/moissbatt_cosplay/">instagram !</a>
        </p>
    </div>

    <div class="m-2">
        <div class="d-flex navigation">
            <button type="button" (click)="clickOnSection('TARECGOSA')" routerLink="/cosplay/tarecgosa" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-arrow-left"></i> Tarecgosa</button>
            <button type="button" (click)="clickOnSection('PROJETS')" routerLink="/cosplay" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-bars"></i></button>
            <button type="button" (click)="clickOnSection('STEAMPUNK')" routerLink="/cosplay/steampunk" [skipLocationChange]="true" class="btn navigation-btn">Steampunk <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
