<h4 class="red-color fw-bold text-center mb-4">Projets</h4>
<table class="table-project table align-middle mb-0">
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/Red_logo.PNG"
                alt=""
                style="width: 60px; height: 60px"
                class="rounded-circle"
                />
            <div class="ms-3">
                <span class="badge badge-warning rounded-pill d-inline project-title">Red</span>
                <p class="text-muted mt-1 mb-0">Transistor</p>
            </div>
          </div>
        </td>
        <td>
            <div class="ms-3">
                <span class="key badge badge-dark rounded-pill">10h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
                <span class="key badge badge-info rounded-pill">Couture</span>
                <span class="key badge badge-secondary rounded-pill">Électronique</span>
            </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('RED')" routerLink="/cosplay/red" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/Thrall_logo.PNG"
                alt=""
                style="width: 60px; height: 60px"
                class="rounded-circle"
                />
            <div class="ms-3">
                <span class="badge badge-success rounded-pill d-inline fw-bold project-title">Thrall</span>
                <p class="text-muted mt-1 mb-0">World of Warcraft</p>
            </div>
          </div>
        </td>
        <td>
            <div class="ms-3">
                <span class="key badge badge-dark rounded-pill">134h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
                <span class="key badge badge-info rounded-pill">Couture</span>
                <span class="key badge badge-primary rounded-pill">Armure</span>
            </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('THRALL')" routerLink="/cosplay/thrall" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/Tyrande_logo.PNG"
                alt=""
                style="width: 60px; height: 60px"
                class="rounded-circle"
                />
            <div class="ms-3">
                <span class="badge badge-success rounded-pill d-inline project-title">Tyrande Murmevent</span>
                <p class="text-muted mt-1 mb-0">World of Warcraft</p>
            </div>
          </div>
        </td>
        <td>
            <div class="ms-3">
                <span class="key badge badge-dark rounded-pill">104h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
                <span class="key badge badge-primary rounded-pill">Armure</span>
            </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('TYRANDE')" routerLink="/cosplay/tyrande" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/pb_logo.PNG"
                alt=""
                style="width: 60px; height: 60px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <span class="badge badge-success rounded-pill d-inline project-title">PB & Marceline</span>
              <p class="text-muted mt-1 mb-0">Adventure Time</p>
            </div>
          </div>
        </td>
        <td>
            <div class="ms-3">
                <span class="key badge badge-dark rounded-pill">60h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
            </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('PB')" routerLink="/cosplay/pb" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/steampunk_logo.PNG"
                alt=""
                style="width: 60px; height: 60px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <span class="key badge badge-success rounded-pill d-inline project-title">Original Character</span>
              <p class="text-muted mb-0 mt-1">Steampunk</p>
            </div>
          </div>
        </td>
        <td>
            <div class="ms-3">
                <span class="key badge badge-dark rounded-pill">75h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
            </div>
        </td>
        <td class="icon-td">
          <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('STEAMPUNK')" routerLink="/cosplay/steampunk" [skipLocationChange]="true" href="" role="button">
            <i class="fa-solid fa-circle-info icon m-auto"></i>
        </a>
        </td>
      </tr>
    </tbody>
  </table>