<h4 class="red-color fw-bold text-center mb-4">Projets</h4>
<table class="table-project table align-middle mb-0">
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/Red_logo.PNG"
                class="rounded-circle"
                />
            <div>
              <div class="ms-2">
                <span class="d-inline project-title red-title">Red - Transistor</span>
              </div>
              <div class="mt-2 ms-2 d-flex">
                  <span class="key badge badge-dark rounded-pill">254h</span>
                  <span class="key badge badge-light rounded-pill props">Props</span>
                  <span class="key badge badge-info rounded-pill">Couture</span>
                  <span class="key badge badge-secondary rounded-pill">Électronique</span>
              </div>
            </div>
          </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('RED')" routerLink="/cosplay/red" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/Thrall_logo.PNG"
                class="rounded-circle"
                />
            <div>
              <div class="ms-2">
                <span class="d-inline project-title">Thrall - World of Warcraft</span>
              </div>
              <div class="mt-2 d-flex ms-2">
                <span class="key badge badge-dark rounded-pill">160h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
                <span class="key badge badge-info rounded-pill">Couture</span>
                <span class="key badge badge-primary rounded-pill">Armure</span>
              </div>
            </div>
          </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('THRALL')" routerLink="/cosplay/thrall" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/Tyrande_logo.PNG"
                class="rounded-circle"
                />
            <div>
              <div class="ms-2">
                <span class="d-inline project-title">Tyrande Murmevent - World of Warcraft</span>
              </div>
              <div class="mt-2 d-flex ms-2">
                <span class="key badge badge-dark rounded-pill">104h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
                <span class="key badge badge-primary rounded-pill">Armure</span>
            </div>
          </div>
          </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('TYRANDE')" routerLink="/cosplay/tyrande" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/pb_logo.PNG"
                class="rounded-circle"
                />
            <div>
              <div class="ms-2">
                <span class="d-inline project-title">PB & Marceline - Adventure Time</span>
              </div>
              <div class="mt-2 d-flex ms-2">
                <span class="key badge badge-dark rounded-pill">60h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
              </div>
            </div>
          </div>
        </td>
        <td class="icon-td">
            <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('PB')" routerLink="/cosplay/pb" [skipLocationChange]="true" href="" role="button">
                <i class="fa-solid fa-circle-info icon m-auto"></i>
            </a>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="assets/cosplay/projets/steampunk_logo.PNG"
                class="rounded-circle"
                />
            <div>
              <div class="ms-2">
                <span class="d-inline project-title">Ghalia - Steampunk</span>
              </div>
              <div class="mt-2 d-flex ms-2">
                <span class="key badge badge-dark rounded-pill">75h</span>
                <span class="key badge badge-light rounded-pill props">Props</span>
              </div>  
            </div>
          </div>
        </td>
        <td class="icon-td">
          <a class="btn btn-primary btn-floating m-auto" style="background-color: #ffffff;" (click)="clickOnSection('STEAMPUNK')" routerLink="/cosplay/steampunk" [skipLocationChange]="true" href="" role="button">
            <i class="fa-solid fa-circle-info icon m-auto"></i>
        </a>
        </td>
      </tr>
    </tbody>
  </table>