.navbar{
    background-color: #F2E284;
    z-index: 1199;
}

.navbar-nav{
    margin: auto
}

.nav-link{
    color: #C6554F !important;
    background-color: #F2E284;
    border: 0;
    font-weight: bold;
    padding-bottom: 0;
}

.nav-link:hover{
    color: #690f0c !important;
}

.logo{
    height: fit-content !important;
}

ul {
    padding: 0;
    list-style: none;
}
ul li {
    display: inline-block;
    position: relative;
    margin: auto;
    height: 37px;
}
ul li a {
    padding: 8px 25px;
}

::ng-deep .dropdown{
    background: #FFE4C4 !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding: 0 !important;
}

button.dropdown-item{
    background: #FFE4C4 !important;
    color: #C6554F;
    font-size: medium;
}

button.dropdown-item:hover{
    color: #F2E284 !important;
    border-bottom: 10px;
    background-color: #8b4847;
}

button.dropdown-item:hover{
    background: #8b4847 !important;
    color: #FFE4C4;
}

.dropdown-item:hover{
    background: #8b4847;
    color: #F2E284 !important;
}

@media (max-width: 1100px) {
    .logo-link{
        padding: 5px !important;
    }
    button.dropdown-item{
        padding: 5px !important;
    }
}

@media (max-width: 576px) {
    .logo > a > img {
        height: 64px;
    }
}

@media (max-width: 470px) {
    .nav-link {
        font-size: 0.9em;
    }
}