.videoViewer{
    height: 252px;
    width: 450px;
    min-width: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.magViewer{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.mh-concours {
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mh-concours-1 {
    width: 200px; 
}

.mh-concours-2 {

    width: 150px; 
}

.red-color{
    color: #C6554F;
}

@media screen and (max-width: 1550px) {
    .video, .mag{
        flex-direction: column;
    }
    
    .videoViewer, .pic-mh{
        order: 2;
    }
    .video-txt, .text-mh{
        order: 1;
    }
}

@media (max-width: 576px) {
    .videoViewer{
        width: 95%;
        min-width: 95%;
    }
    .magViewer{
        width: 90%;
    }
    
}

.justify{
    text-align: justify;
}

