<h4 class="red-color fw-bold text-center mb-4">Concours</h4>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="age2023">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#age2023collapse" aria-expanded="true" aria-controls="age2023">
                <img
                    src="assets/cosplay/concours/icon/forge.png"
                    class="rounded-circle"
                />
                <div class="d-flex concours">
                    <p class="fw-bold concours-txt">Avignon Geek Expo</p>
                    <p class="fw-normal prix-txt">Prix Forge </p>
                </div>
                <p class="fw-normal mb-0 date">février 2023</p>
            </button>
        </h2>
        <div id="age2023collapse" class="accordion-collapse collapse" aria-labelledby="age2023">
            <div class="accordion-body d-flex illustration">
                <div class="d-flex mx-auto pic-mh media">
                    <img src="assets/cosplay/concours/avignon_geek_expo_groupe.jpg" alt="Avignon Geek Expo Groupe" class="image-concours" style="width: 350px;">
                </div>
                <div class="px-4 mx-auto my-2 video-txt txt">
                    <span>
                        <p class="justify">
                            <span class="fw-bold">Organisateur :</span> Pr. BlackFlames <br>
                            <span class="fw-bold">Date :</span> 12 février 2023 <br>
                            <span class="fw-bold">Bilan :</span> Prix Forge ! J'ai pu rencontrer à ce concours des personnes merveilleuses et même des cosplayeurs étrangers.
                            L'expérience fut enrichissante et j'ai vécu mon premier gros échec sur scène avec une partie de mon armure qui s'est décrochée et que j'ai du tenir à la 
                            main discètement jusqu'à la fin de ma prestation. Le jury a décidé de me donner le prix Forge qui n'était pas au programme pour rendre honneur à mon travail 
                            sur l'armure et je ne pouvais pas rêver meilleure symbolique pour mon dernier concours avec Thrall.
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="hfm2022">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hfm2022collapse" aria-expanded="true" aria-controls="hfm2022">
                <img
                    src="assets/cosplay/concours/icon/first.png"
                    class="rounded-circle"
                />
                <div class="d-flex concours">
                    <p class="fw-bold concours-txt">Hero Festival Marseille</p>
                    <p class="fw-normal prix-txt">1er Prix Solo</p>
                </div>
                <p class="fw-normal mb-0 date">novembre 2022</p>
            </button>
        </h2>
        <div id="hfm2022collapse" class="accordion-collapse collapse" aria-labelledby="hfm2022">
            <div class="accordion-body d-flex illustration">
                <iframe class="videoViewer m-auto media" src="https://www.youtube.com/embed/xV9kNa-d6Ww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="px-4 mx-auto my-2 video-txt txt">
                    <span>
                        <p class="justify">
                            <span class="fw-bold">Organisateur :</span> Box of Heroes <br>
                            <span class="fw-bold">Date :</span> 6 novembre 2022 <br>
                            <span class="fw-bold">Bilan :</span> Première place ! Ce fut une merveilleuse expérience, autant en backstage avec les 
                            membres de l'association Box of Heroes, que sur scène avec un public enflammé. Je suis humblement suprise d'avoir gagné
                            car j'ai encore du travail à faire sur mon image de moi-même, mais cet événement me permet de gagner en confiance et 
                            de me lancer de plus belle dans cette passion qui m'anime !
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="mha2022">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mha2022collapse" aria-expanded="true" aria-controls="mha2022">
                <img
                    src="assets/cosplay/concours/icon/first.png"
                    class="rounded-circle"
                />
                <div class="d-flex concours">
                    <p class="fw-bold concours-txt">Manga Hora Aubagne</p>
                    <p class="fw-normal prix-txt">1er Prix Costume</p>
                </div>
                <p class="fw-normal mb-0 date">octobre 2022</p>
            </button>
        </h2>
        <div id="mha2022collapse" class="accordion-collapse collapse" aria-labelledby="mha2022">
            <div class="accordion-body d-flex illustration">
                <div class="d-flex mx-auto pic-mh media">
                    <img src="assets/cosplay/concours/concoursMH_PoseFin.jpeg" alt="Manga Hora Aubagne 2022" class="image-concours" style="width: 200px;">
                    <img src="assets/cosplay/concours/RemisePrix_MH.jpeg" alt="Manga Hora Aubagne 2022" class="image-concours" style="width: 150px;">
                </div>
                <div class="px-4 mx-auto my-2 text-mh txt">
                    <span>
                        <p class="justify">
                            <span class="fw-bold">Organisateur :</span> Aoi Sora Cosplay <br>
                            <span class="fw-bold">Date :</span> 16 octobre 2022 <br>
                            <span class="fw-bold">Bilan :</span> 1er prix Costume, un jury unique et un public de folie très réceptif et accueillant ! La première victoire de ma vie dans ce domaine merveilleux du cosplay. Elle me gonfle de motivation pour mes futurs projets !
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="cpd2022">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cpd2022collapse" aria-expanded="true" aria-controls="cpd2022">
                <img
                    src="assets/cosplay/concours/icon/first.png"
                    class="rounded-circle"
                />
                <div class="d-flex concours">
                    <p class="fw-bold concours-txt">Concours Photo DreamCosMod</p>
                    <p class="fw-normal prix-txt">1er Prix </p>
                </div>
                <p class="fw-normal mb-0 date">janvier 2022</p>
            </button>
        </h2>
        <div id="cpd2022collapse" class="accordion-collapse collapse" aria-labelledby="cpd2022">
            <div class="accordion-body d-flex illustration">
                <a class="mx-auto d-flex media" target="_blank" href="https://www.dreamcosmod.com/">
                    <img class="magViewer m-auto"  alt="Première de couverture du magasine" src="assets/cosplay/magasine.jpg">
                </a>
                <div class="px-4 mx-auto my-2 txt">
                    <span>
                        <p class="justify">
                            <span class="fw-bold">Organisateur :</span> Pierre Champion <br>
                            <span class="fw-bold">Date :</span> 1er janvier 2022 <br>
                            <span class="fw-bold">Résultat :</span> Premier prix ! Grâce à ma communauté, j'ai été soutenue et j'ai obtenu la première place au 
                            concours de photographies de cosplay en convention. J'ai donc gagné la chance de faire la couverture du magazine DreamCosMod n°13.
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

