<h4 class="red-color fw-bold text-center mb-4">Concours</h4>
<div class="d-flex video mb-5">
    <iframe class="videoViewer m-auto" src="https://www.youtube.com/embed/DBzDL23cHG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="px-4 mx-auto my-2 video-txt">
        <span>
            <h5 class="red-color">Concours Solo Anim'Est</h5>
            <p class="justify">
                <span class="fw-bold">Organisateur :</span> Anim'Est Nancy <br>
                <span class="fw-bold">Dates :</span> 13 novembre 2021 <br>
                <span class="fw-bold">Résultat :</span> Aucun prix, mais les félicitations d'un jury extraordinaire pour mon premier concours et 
                mon deuxième cosplay ! La concurrence était rude car les participants de la Coupe de France étaient qualifiés 
                également pour le concours solo.
            </p>
        </span>
    </div>
</div>
<div class="d-flex mb-2 mag">
    <div class="px-4 mx-auto my-2 align-self-center">
        <span>
            <h5 class="red-color">Concours Photo DreamCosMod</h5>
            <p class="justify">
                <span class="fw-bold">Organisateur :</span> Pierre Champion <br>
                <span class="fw-bold">Dates :</span> 1er janvier 2022 <br>
                <span class="fw-bold">Résultat :</span> Premier prix ! Grâce à ma communauté, j'ai été soutenue et j'ai obtenu la première place au 
                concours de photographies de cosplay en convention. J'ai donc gagné la chance de faire la couverture du magazine DreamCosMod n°13.
            </p>
        </span>
    </div>
    <a class="mx-auto" target="_blank" href="https://www.dreamcosmod.com/">
        <img class="magViewer"  alt="Première de couverture du magasine" src="assets/cosplay/magasine.jpg">
    </a>
</div>
