<h4 class="red-color fw-bold text-center mb-4">Concours</h4>
<div class="d-flex video mb-5">
    <iframe class="videoViewer m-auto media" src="https://www.youtube.com/embed/xV9kNa-d6Ww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="px-4 mx-auto my-2 video-txt txt">
        <span>
            <h5 class="red-color">Concours Solo Hero Festival Marseille</h5>
            <p class="justify">
                <span class="fw-bold">Organisateur :</span> Box of Heroes <br>
                <span class="fw-bold">Dates :</span> 6 novembre 2022 <br>
                <span class="fw-bold">Bilan :</span> Première place ! Ce fut une merveilleuse expérience, autant en backstage avec les 
                membres de l'association Box of Heroes, que sur scène avec un public enflammé. Je suis humblement suprise d'avoir gagné
                car j'ai encore du travail à faire sur mon image de moi-même, mais cet événement me permet de gagner en confiance et 
                de me lancer de plus belle dans cette passion qui m'anime !
            </p>
        </span>
    </div>
</div>
<div class="d-flex video mb-5">
    <div class="d-flex mx-auto pic-mh media">
        <img src="assets/cosplay/concours/concoursMH_PoseFin.jpeg" alt="Manga Hora Aubagne 2022" class="mh-concours mh-concours-1">
        <img src="assets/cosplay/concours/RemisePrix_MH.jpeg" alt="Manga Hora Aubagne 2022" class="mh-concours mh-concours-2">
    </div>
    <div class="px-4 mx-auto my-2 text-mh txt">
        <span>
            <h5 class="red-color">Concours Solo Manga Hora Aubagne</h5>
            <p class="justify">
                <span class="fw-bold">Organisateur :</span> Aoi Sora Cosplay <br>
                <span class="fw-bold">Dates :</span> 16 octobre 2022 <br>
                <span class="fw-bold">Bilan :</span> 1er prix Costume, un jury unique et un public de folie très réceptif et accueillant ! La première victoire de ma vie dans ce domaine merveilleux du cosplay. Elle me gonfle de motivation pour mes futurs projets !
            </p>
        </span>
    </div>
</div>
<div class="d-flex video mb-5">
    <iframe class="videoViewer m-auto media" src="https://www.youtube.com/embed/DBzDL23cHG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="px-4 mx-auto my-2 video-txt txt">
        <span>
            <h5 class="red-color">Concours Solo Anim'Est</h5>
            <p class="justify">
                <span class="fw-bold">Organisateur :</span> CosPop <br>
                <span class="fw-bold">Dates :</span> 13 novembre 2021 <br>
                <span class="fw-bold">Bilan :</span> Les encouragements d'un jury extraordinaire pour mon premier concours et 
                mon deuxième cosplay ! La concurrence était rude car les participants de la Coupe de France étaient qualifiés 
                également pour le concours solo.
            </p>
        </span>
    </div>
</div>
<div class="d-flex mb-2 mag">
    <a class="mx-auto d-flex media" target="_blank" href="https://www.dreamcosmod.com/">
        <img class="magViewer m-auto"  alt="Première de couverture du magasine" src="assets/cosplay/magasine.jpg">
    </a>
    <div class="px-4 mx-auto my-2 align-self-center txt">
        <span>
            <h5 class="red-color">Concours Photo DreamCosMod</h5>
            <p class="justify">
                <span class="fw-bold">Organisateur :</span> Pierre Champion <br>
                <span class="fw-bold">Dates :</span> 1er janvier 2022 <br>
                <span class="fw-bold">Résultat :</span> Premier prix ! Grâce à ma communauté, j'ai été soutenue et j'ai obtenu la première place au 
                concours de photographies de cosplay en convention. J'ai donc gagné la chance de faire la couverture du magazine DreamCosMod n°13.
            </p>
        </span>
    </div>
</div>
