<div #sectionDivRed class="pt-1">
    <h3 class="red-color m-1 text-center">Red (en cours)</h3>
    <h4 class="red-color m-2 text-center">Transistor</h4>
    <div class="m-2 d-flex justify-content-center pres">
        <p class="presentation m-2">
            Mon projet actuel est très ambitieux ! J'adore tellement la bande son et la direction artistique des jeux Supergiant Games et en particulier de Transistor.
             Cela m'a amenée à choisir le personnage principal <span class="red-color">Red et son épée.</span>
            
            <br><br> J'ai choisi ce projet car cela demande de se lancer à corps perdu dans la couture pour réaliser sa magnifique robe. Il y a 
            également l'épée qui va me demander énormément de recherche car j'ai pour ambition de la faire briller et parler !
            <br><br> Red va donc être <span class="red-color">mon premier défi couture et électronique !</span>
            <br><br> Il est possible de suivre mon avancement sur ce projet sur  
            <a style="color: #ac2bac;" target="_blank" href="https://www.instagram.com/moissbatt_cosplay/">instagram !</a>
        </p>
        <img class="refViewer m-2"  alt="Reference du cosplay" src="assets/cosplay/projets/Red-ref.webp">
    </div>

    <div class="m-2">
        <div class="d-flex navigation">
            <button type="button" (click)="clickOnSection('THRALL')" routerLink="/cosplay/thrall" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-arrow-left"></i> Thrall</button>
            <button type="button" (click)="clickOnSection('PROJETS')" routerLink="/cosplay" [skipLocationChange]="true" class="btn navigation-btn"><i class="fa-solid fa-bars"></i></button>
            <button type="button" (click)="clickOnSection('STEAMPUNK')" routerLink="/cosplay/steampunk" [skipLocationChange]="true" class="btn navigation-btn">Steampunk <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>


