<h4 class="red-color fw-bold text-center mb-4">Conventions</h4>
<div class="conventions custom-scrollbar d-flex ">
    <div class="conv-container mx-auto">
        <img src="assets/cosplay/conventions/MH2022.png" alt="Manga Hora Aubagne 2022" class="conv-img">
        <div class="title">Manga Hora Aubagne 2022</div>
        <div class="subtitle">Thrall (WoW)</div>
    </div>
    <div class="conv-container mx-auto">
        <img src="assets/cosplay/conventions/AE2021.png" alt="Anim'Est 2021" class="conv-img">
        <div class="title">Anim'Est 2021</div>
        <div class="subtitle">Thrall (WoW)</div>
    </div>
    <div class="conv-container mx-auto">
        <img src="assets/cosplay/conventions/KM2021.PNG" alt="Kaiten Matsuri 2021" class="conv-img">
        <div class="title">Kaiten Matsuri 2021</div>
        <div class="subtitle">Tyrande (WoW)</div>
    </div>
    <div class="conv-container mx-auto">
        <img src="assets/cosplay/conventions/JP2017.PNG" alt="Japan Touch Lyon 2017" class="conv-img">
        <div class="title">Japan Touch Lyon 2017</div>
        <div class="subtitle">Steampunk (OC)</div>
    </div>
</div>
